<div id="award" class="mask-box">
        <div  class="mask">
        <div class="t-add">
            <form class="f-add" action="" method="post">
                    <div class="heading"><p>添加获奖数据</p>
                                <a onclick="xx()" id="xx" href="">
                                <i class="iconfont icon-guanbi"></i>
                                </a>
                    </div>
                    <div class="row">
                            <label for="female">获奖项目:</label>
                        
                        <input class="browsersc" list="browsersc" >
                    
                    </div>
                    <div class="row">
                            <label for="female">获奖等级:</label>
                            <input class="teamc" list="teamc" >
                            
                    </div>
                    <div class="row">
                            <label for="female">获奖时间:</label>
                            <input class="number" list="number" >
                    </div>
                    <div class="row">
                            <label for="female">备注:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input class="number" list="number" >
                    </div>         
                    <div class="rowc">
                            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                                <button class="btn btn-primary radius">提交</button>
                            </div>
                        </div>
            </form>
                </div>
            </div>
        </div>