<div id="ccedit" class="mask-box">
        <div  class="mask">
        <div class="t-add">
            <form class="f-add" action="" method="post">
                    <div class="heading"><p>编辑数据</p>
                                <a onclick="xx()" id="xx" href="">
                                <i class="iconfont icon-guanbi"></i>
                                </a>
                    </div>
                    <div class="row">
                            <label for="female">授课学期:</label>
                        
                        <input class="browsers" list="browsers" >
                        <datalist id="browsers">
                                <option value="第一学期">
                                <option value="第一学期">	
                        </datalist>
                    </div>
                    <div class="row">
                            <label for="female">授课班级:</label>
                        
                            <input class="team" list="team" >
                            <datalist id="team">
                                <option value="计算机1班">
                                <option value="计算机2班">	
                        </datalist>
                    </div>
                    <div class="row">
                            <label for="female">班级人数:</label>
                            <input class="number" list="number" >
                    </div>
                    <div class="row">
                            <label for="female">课程名称:</label>
                            
                                <input class="curriculum" list="curriculum" >
                                <datalist id="curriculum">
                                    <option value="网页制作">
                                    <option value="网页制作">	
                            </datalist>
                    </div>
                    <div class="row">
                            <label for="female">计划课时:</label>
                            
                                <input value="120" class="plan" list="plan" >
                    </div>
                    <div class="row">
                            <label for="female">实际课时:</label>
                            
                                <input class="actual" list="actual" >
                    </div>
                    <div class="rowc">
                            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                                <button class="btn btn-primary radius">提交</button>
                            </div>
                        </div>
            </form>
                </div>
            </div>
        </div>