<script type="text/javascript" src="__JS__/jquery.min.js"></script> 
<script type="text/javascript" src="__JS__/layer.js"></script>
<script type="text/javascript" src="__JS__/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__JS__/jquery.validate.min.js"></script>
<script type="text/javascript" src="__JS__/validate-methods.js"></script>
<script type="text/javascript" src="__JS__/messages_zh.min.js"></script>
<script type="text/javascript" src="__JS__/H.js"></script>
<script type="text/javascript" src="__JS__/admin.js"></script>
<script src="__JS__/cc.js"></script> 
<script src="./iconfont.js"></script>
<script>
    function member_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    </script>