<div id="sectionedit" class="mask-box">
        <div  class="mask">
        <div class="t-add">
            <form class="f-add" action="" method="post">
                    <div class="heading"><p>修改科研项目统计数据</p>
                                <a onclick="xx()" id="xx" href="">
                                <i class="iconfont icon-guanbi"></i>
                                </a>
                    </div>
                    <div class="row">
                            <label for="female">项目名称</label>
                        
                        <input class="browsers" list="browsers" >
                    
                    </div>
                    <div class="row">
                            <label for="female">立项时间:</label>
                        
                            <input class="team" list="team" >
                            
                    </div>
                    <div class="row">
                            <label for="female">结题时间:</label>
                            <input class="number" list="number" >
                    </div>
                    <div class="row">
                            <label for="female">级别:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            
                                <input class="curriculum" list="curriculum" >
                                
                    </div>
                    
                    <div class="rowc">
                            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                                <button class="btn btn-primary radius">提交</button>
                            </div>
                        </div>
            </form>
                </div>
            </div>
        </div>