<div id="timeadd" class="mask-box">
        <div  class="mask">
        <div class="t-add">
            <form class="f-add" action="" method="post">
                    <div class="heading"><p>添加实训实习设计指导数据</p>
                                <a onclick="xx()" id="xx" href="">
                                <i class="iconfont icon-guanbi"></i>
                                </a>
                    </div>
                    <div class="row">
                            <label for="female">授课学期:</label>
                        
                        <input class="browsers" list="browsers" >
                        <datalist id="browsers">
                                <option value="第一学期">
                                <option value="第一学期">	
                        </datalist>
                    </div>
                    <div class="row">
                            <label for="female">授课班级:</label>
                        
                            <input class="team" list="team" >
                            <datalist id="team">
                                <option value="计算机1班">
                                <option value="计算机2班">	
                        </datalist>
                    </div>
                    <div class="row">
                            <label for="female">实训名称:</label>
                            
                                <input class="curriculum" list="curriculum" >
                                <datalist id="curriculum">
                                    <option value="css+div">
                                    <option value="css+div">	
                            </datalist>
                    </div>
                    <div class="row">
                            <label for="female">实习周数:</label>
                            
                                <input class="plan" list="plan" >
                    </div>
                    <div class="row">
                            <label for="female">实带人数:</label>
                            
                                <input class="actual" list="actual" >
                    </div>
                    <div class="rowc">
                            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                                <button class="btn btn-primary radius">提交</button>
                            </div>
                        </div>
            </form>
                </div>
            </div>
        </div>