{include file="public/header" /}	
<body>
<nav class="breadcrumb">
欢迎进入统计中心 <span class="c-gray en"></span>
 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
		<i class="iconfont icon-refresh_icon"></i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray"> <span class="l">
		<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont"></i>删除</a>		 
		<a onclick="tadd()" class="btn btn-primary radius" ><i class="Hui-iconfont"></i>添加</a> 
		</span> <span class="r">
	</div>
	<table class="table table-border table-bordered table-hover table-bg">
		<thead>
			<tr>
				
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" value="" name=""></th>
				<th width="70">授课学期</th>
				<th width="100">授课班级</th>
				<th width="25">人数</th>
				<th width="100">课程名称</th>
				<th width="70">计划课时</th>
				<th width="70">实时课时</th>
				<th width="70">状态</th>
				<th width="70">操作</th>
				
			</tr>
		</thead>
		<tbody>
			{volist name="userList" id="vo"}
			<tr class="text-c">
				<td><input type="checkbox" value="" name=""></td>
				<td>{$vo['term_id']}</td>
				<td>{$vo['class_id']}</td>
				<td>{$vo['class_id']}</td>
				<td>{$vo['course_name_id']}</td>
				<td>{$vo['hour']}</td>
				<td>{$vo['class_hour']}</td>
				<td>{$vo['ste']}</td>
				<td class="f-14">
					<a title="提交" style="text-decoration:none"><i class="iconfont icon-tijiao"></i></a> 
					<a onclick="editl()" title="编辑" style="text-decoration:none"><i class="iconfont icon-bianji"></i></a> 
					<a title="删除" class="ml-5" style="text-decoration:none"><i class="iconfont icon-shanchu"></i></a></td>
			</tr>
			{/volist}
		
		</tbody>
	</table>
</div>

{include file="public/add" /}
{include file="public/edit" /}
{include file="public/footer" /}

</body>
</html>