{include file="public/header" /}
<body>
<nav class="breadcrumb"> 
欢迎进入 实训实习设计指导统计
 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
		<i class="iconfont icon-refresh_icon"></i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray"> <span class="l"> <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"> 删除</a> 
		<a onclick="time()" class="btn btn-primary radius" ><i class="Hui-iconfont"></i>添加</a> 
	 </span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
	<table class="table table-border table-bordered table-hover table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9"></th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" value="" name=""></th>
				<th width="70">授课学期</th>
				<th width="100">授课班级</th>
				<th width="100">实训/实习名称</th>
				<th width="25">实习周数</th>
				<th width="25">实带人数</th>
				<th width="70">状态</th>
				<th width="70">操作</th>
				
			</tr>
		</thead>
		<tbody>
		
			<tr class="text-c">
				<td><input type="checkbox" value="" name=""></td>
				<td>2</td>
				<td>2</td>
				<td>2</td>
				<td>2</td>
				<td>2</td>
				<td>编辑中</td>
				<td class="f-14">
					<a title="提交" style="text-decoration:none"><i class="iconfont icon-tijiao"></i></a> 
					<a title="编辑" onclick="timeeditc()" style="text-decoration:none"><i class="iconfont icon-bianji"></i></a> 
					<a title="删除" class="ml-5" style="text-decoration:none"><i class="iconfont icon-shanchu"></i></a></td>
			</tr>
			
		
		</tbody>
	</table>
</div>
{include file="public/timeedit" /}
{include file="public/timeadd" /}
{include file="public/footer" /}
</body>
</html>